GLFW_ICON ICON "ecs learning.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  VALUE "CompanyName", "Boop"
      VALUE "FileDescription", "ECS Project | Simple ECS Project Using Raylib"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "ecs learning"
      VALUE "LegalCopyright", "(c) 2024 Boop"
      //VALUE "OriginalFilename", "ecs learning.exe"
      VALUE "ECS Project", "ECS Project"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
